{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description"
          content="{% block metadescription %}Portfolio page of {{ basic_information.name }} containing personal projects and experiences {% endblock %}">
    <meta name="author" content="{% block metaauthor %}{{ basic_information.name }}{% endblock %}">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="{% static "portfolio/css/normalize.css.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "portfolio/css/skeleton.css" %}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static "portfolio/img/favicon.png" %}">

    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
        <meta name="robots" content="nocache,noarchive,noimageindex"/>{% endblock %}
</head>

<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <div class="one-half column" style="margin-top: 25%">
                <h4>Basic Page</h4>

                <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add
                    some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton
                        documentation</a>.</p>
            </div>
        </div>
    </div>

    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block extrabody %}{% endblock %}
</body>
</html>