{% extends "portfolio/base.html" %}
{% load staticfiles %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static "portfolio/css/portfolio-experience.css" %}">{% endblock %}
{% block extrafonts %}<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>{% endblock %}

{% block title %}Mustafa S{% endblock %}

{% block extracontent %}
    <h5>Experience</h5>
    {% for experience in portfolio_experience %}
    <div class="row portfolio-experience">
        {% if experience.link %}<a href="{{ experience.link }}">{% endif %}
            <div class="ten columns">
                <div class="row">
                    <div class="seven columns limit"><b>{{ experience.role }} at {{ experience.company }}</b></div>
                    <div class="five columns date right-text">
                        {% if experience.start_date and not experience.end_date%}{{ experience.start_date }} - <i>Ongoing</i>
                        {% elif experience.start_date and experience.end_date%}{{ experience.start_date }} - {{ experience.end_date }}
                        {% elif experience.end_date and not experience.start_date%}{{ experience.end_date }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns description"><p>{{ experience.description }}</p></div>
                </div>
            </div>
        {% if experience.company %}
            <div class="two columns image">
                <img src="{% static "portfolio/img/uvic.jpg" %}">
            </div>
        {% endif %}
        {% if experience.link %}</a>{% endif %}
    </div>
    {% endfor %}

{% endblock %}