::selection {
  background: #e6e6e6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #e6e6e6; /* Gecko Browsers */
}
.side-bar {
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.side-bar-bio {
    text-align: left;
    font-size: 13px;
    margin-bottom: 25px;
}
.side-bar-item {
    margin-bottom: 10px;
}
.side-bar-item.hvr-grow{
    display: block;
}
.side-bar-links {
    margin-top: 100px;
}
.whole-content {
    margin-top: 10%;
}
.content{
    margin-top: 5%;
}
.side-line{
    border-right: thick solid #ff0000;
}
.img-circle {
    width:inherit;
    border-radius: 50%;
}
.thumbnail-container {
    width: 120px;
    min-height: 120px;
    max-height: inherit;
    border-radius: 50%;
}

@media only screen and (max-width: 550px) {
    .side-bar-icon {
        display: none;
    }
    .side-line {
        border-right: none;
        border-bottom: thick solid #ff0000;
        margin-bottom: 50px;
    }
    .thumbnail {
        text-align: center;
    }
}